@import views.SensorReadingView
@(values: Option[SensorReadingView], graphConfig: GraphConfig)(implicit r: Request[_])

@main("Temperature and humidity monitor") {
    <h1>Temperature and humidity monitor</h1>

    <div id="connection-error-msg" class="hidden error-msg">Connection lost. Trying to reconnect...</div>

    <div id="readings" class="@{if(values.isEmpty) "hidden"}">
        <table>
            <tr>
                <td>time:</td>
                <td><span id="timestamp-value">@values.map(_.date).getOrElse("")</span></td>
            </tr>
            <tr>
                <td>temperature:</td>
                <td><span id="temperature-value">@values.map(_.temperature).getOrElse("")</span>C</td>
            </tr>
            <tr>
                <td>humidity:</td>
                <td><span id="humidity-value">@values.map(_.humidity).getOrElse("")</span>%</td>
            </tr>
        </table>
    </div>

    <div id="no-data-msg" class="@{if(values.isDefined) "hidden"}">data not available yet</div>

    @if(graphConfig.enable) {
        <div>
            <iframe src="@graphConfig.graphUrl" width="850" height="320" frameborder="0"></iframe>
        </div>
        <a href="@graphConfig.dashboardUrl" target="_blank">More details...</a>
    }
}
